.board {
	padding: 1rem;
	margin: 3.5rem auto;
	border-radius: 12px;
	box-shadow: 4px 4px 15px #e0dfdf;
	max-width: 700px;
	min-width: 500px;
	height: 85vh;
	display: grid;
	grid-template-columns: repeat(8, 1fr);
	background-color: burlywood;
	/* transform: rotateX(180deg); */
}

.piece {
	text-align: center;
	/* margin: 8px; */
	/* border: wheat solid 2px; */
}

.light {
	background-color: rgb(235, 228, 219); /*#efefef;*/
}
.dark {
	background-color: #b6b3b3;
}
